
.toggle-icon
{
    width: 17px;
    height: auto;
    display: inline-block;
    margin: 0px 3px;
    float:left;

    img
    {
      width: 100%;
      height: auto;
    }
}

.toggle-map
{
  width: 56px;
  float: left;
  display: inline-block;
}


.box-sh
{
    padding: 20px;
    width: auto;
    position: relative;
    height: 100%;
    display: inline-block;
    float: right;
}



  .box-sh-item.active {
      border-bottom: 5px solid #425A8D;
      color: #425A8D;
}

.box-sh-item {
    padding: 10px;
    width: auto;
    border-bottom: 5px solid #BDBDBD;
    color: #828282;
    height: 100%;
    display: inline-block;
    float: left;
    padding-top: 16px;
    margin: 0px 10px;

  .icon
  {
    width: 26px;
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
    padding-top: 3px;

    img {
          width: 100%;
    }
  }


  .text
  {
    display: inline-block;
    padding-left: 10px;
    float: left;
    text-transform: uppercase;
    margin: 7px;
  }
}

.rightSidebar{
  left: 100%;
}

.devicePainel
{
    position: absolute;
    z-index: 999;
    background: white;
    right: 0px;
    display:inline-block;
    top: 108px;
    width: 400px;
}
.device-list{
  width: 100%;
  height: 100%;
  float: right;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  overflow:auto;

  .main-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    text-transform: uppercase;
  }

  .info-header{
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #BDBDBD;

    .title{
      font-family: 'Roboto';
      color: #A2A2A2;
    }

    .subtitle{
      font-family: 'Roboto';
      color: #A2A2A2;
    }

    .device-list-actions{
      position: relative;
      left: 8%;
      a{
        color: #A2A2A2;
      }
      .action-hide{
        font-family: 'Roboto';
        color: #A2A2A2;
        font-size: 0.8em;
      }

      .action-show{
        font-family: 'Roboto';
        color: #A2A2A2;
        font-size: 0.8em;
      }
    }
  }
  .deviceCanvas{
    width: 105% !important;
    .row{
      .lst-wrapper{
        .lst-entry{
          position: relative;
          .lst-entry-title{
            .waves-effect{
              overflow: visible !important;
              width: 90%;
            }
            position: relative;
            left: -15%;
                .user-label{
                  font-family: 'Open Sans';
                  color: #161616;
                  font-weight: normal;
                }
                .label{
                  position: relative;
                  font-family: 'Open Sans';
                  color: #161616;
                  font-weight: bold;
                  left: 5%;
                }
              #device-view{
                position: relative;
                left: 40%;
                i{
                  color: #000000;
                }
              }
          }
        }
      }
    }
  }
}

.device-footer{
  .background-info{
    border-left: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    width: 25%;
    height: 20%;
    background-color: #F7F7F7;
    position: relative;
    top: 780px;
    left: 75%;

    a{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: #DADADA;
      font-size: 0.8em;
    }
  }
}

.device-filtering{
  height: 92.3%;
  width: 25%;
  float: right;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
  .filter-header{
    .label{
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 1.5em;
      color: #DADADA;
    }
  }

  .filter-devices-info{
    position: relative;
    top: 20px;
    text-transform: uppercase;
    .type{
      position: relative;
      top: 30px;
    }

    .label{
      color: #707070;
      font-weight: bold;
      font-size: 1.2em;
    }

    .protocols-mqtt{
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;
      //background-color: #4D7BB9;
      .label-mqtt{
        padding: 3px 0px 0px 7px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-mqtt{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .protocols-virtual{
      position: relative;
      left: 15%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-virtual{
        padding: 3px 0px 0px 7px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
        position: relative;
        left: -10%;
      }

      &.active{
        background-color: #4D7BB9;
        .label-virtual{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-col{
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-col{
        padding: 3px 0px 0px 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-col{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-trat{
      position: relative;
      left: 17%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-trat{
        padding: 3px 0px 0px 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-trat{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-cam{
      position: relative;
      left: 30%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-cam{
        padding: 3px 0px 0px 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-cam{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

  }

  .filter-devices-search{
    position: relative;
    top: 100px;
    .label{
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 1.5em;
      color: #DADADA;
    }

    .input-field:nth-child(1){
      position: relative;
      top: 10px;
    }

    .input-field:nth-child(2){
      position: relative;
      top: 15px;
      #value{
        position: relative;
        top: 20px;
      }
    }

    .btn-plus{
      width: 40px;
      height: 40px;
      position: relative;
      top: 50px;
      background-color: #EFEFEF;
      border-radius: 50%;
      i{
        color: #828282;
        padding-top: 12px;
        padding-right: 22px;
      }
    }
    .search-value{
      position: relative;
      top: 50px;
      width: 80%;
      height: 50px;
      background-color: #F1F1F1;
      display: inline;

      .attribute{
        padding-left: 10px;
        display: inline;
        font-weight: bold;
      }

      .value{
        padding-left: 10px;
        display: inline;
      }
    }

    .actions-buttons{
      position: relative;
      top: 120px;
      left: 10%;

      .button{
        #btn-clear{
          font-weight: bold;
          color: #4F4F4F;
          background-color: #ffffff;
          width: 100px;
          height: 40px;
          padding-left: 20px;
          border: 1px solid #BDBDBD;
          font-family: 'Roboto';
          text-transform: capitalize;
        }
        #btn-search{
          background-color: #448EEF;
          width: 100px;
          height: 40px;
          padding-left: 5px 5px 0px 0px;
          border: 1px solid #BDBDBD;
        }
      }
    }
  }
  .filter-devices-footer{
    .background-info{
      border-bottom: 1px solid #BDBDBD;
      position: relative;
      top: 394px;
      a{
        font-family: 'Open Sans', sans-serif;
        color: #DADADA;
        font-weight: bold;
        font-size: 0.8em;
      }
    }
  }
}

.layer-div{
    width:55px;
    height:55px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 450;
    top:20px;

    img{
      width: 100%;
      height: 100%;
    }
}



.icon-marker {
  padding: 3px;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 6px lightgray;
  border-radius: 50%;
}

.bg-black{
  background: #2c3e50;
}

.bg-red{
  background: #F22613;
}

.bg-orange{
  background: #F89406;
}

.bg-light-blue{
  background: #6BB9F0;
}

.bg-blue{
  background: #19B5FE;
}

.bg-greyish-blue{
  background: #4B77BE;
}

.bg-dark-blue{
  background: #3A539B;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.contextMenu {
    z-index: 410;
    position: fixed;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

     &--option {
         padding: 12px 60px 12px 30px;
         cursor: default;
         color:#2c3e50;
         text-transform: uppercase;
         font-weight: 500;
         font-family: Ubuntu;
         font-size: 11px;
         &:hover {
             background: #2c3e50;
             color: white;
         }

        &:active {
            color: #e9e9e9;
            background: linear-gradient(to top, #555, #444);
        }

        &__disabled {
            color: #999999;
            pointer-events: none;
        }
    }

    &--separator {
        width: 100%;
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
}




.devicesSubHeader {
    background: #f1f1f1;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.52px;
    color: #666;
    margin: 0;
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 65px;
    display: inline-block;
    animation-name: height-opacity-0-to-100;
    animation-duration: 1.5s;
    animation-iteration-count: 1;


  .main-title{
    font-family: 'Raleway', sans-serif;
    padding-left:4em;
  }

  .header-info{
    .title
    {
      font-family: 'Open Sans', sans-serif;
      font-size: 10pt;
      color: $silver;
    }

    .subtitle
    {
      font-family: 'Droid Sans', sans-serif;
      font-size: 14pt;
      color: $dark-silver;
    }

  }

  .btn-flat{
    position: absolute;
    right: 120px;
  }
}

.deviceCanvas{
  padding-top: $page-header-size + 5px;
  top:-50px;
}

@media screen and (max-width: 600px){
  .title-area{
      .page-title{

      }
      .page-subtitle{
        display:none;
      }
  }

  .devicesSubHeader {
      background: #f1f1f1;
      box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.25);
      /* padding: 0px; */
      /* padding-top: 10px; */
      /* padding-bottom: 62px; */
      font-family: 'Roboto', 'Droid Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.52px;
      color: #666;
      margin: 0;
      z-index: 1000;
      /* overflow: hidden; */
      position: relative;
      width: 100%;
      height: 65px;
      display: inline-block;
      animation-name: height-opacity-0-to-100;
      animation-duration: 1.5s;
      animation-iteration-count: 1;

    .main-title{
      padding-left: 0em;
    }

    .btn-flat{
      position: relative;
      right: -20vw;
      width: 25%;
    }
 }
 .deviceCanvas{
   .lst-entry-body{
     .metric{
       &.last{
         .metric-label{
           left: 0px;
         }
       }
       .metric-label{
         position: relative;
         left: -5px;
       }

       }
     }
   }
 }
