.layer-div{
    width:55px;
    height:55px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 450;
    top:20px;

    img{
      width: 100%;
      height: 100%;
    }
}



.icon-marker {
  padding: 3px;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 6px lightgray;
  border-radius: 50%;
}

.bg-black{
  background: #2c3e50;
}

.bg-red{
  background: #F22613;
}

.bg-orange{
  background: #F89406;
}

.bg-light-blue{
  background: #6BB9F0;
}

.bg-blue{
  background: #19B5FE;
}

.bg-greyish-blue{
  background: #4B77BE;
}

.bg-dark-blue{
  background: #3A539B;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.contextMenu {
    z-index: 410;
    position: fixed;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

     &--option {
         padding: 12px 60px 12px 30px;
         cursor: default;
         color:#2c3e50;
         text-transform: uppercase;
         font-weight: 500;
         font-family: Ubuntu;
         font-size: 11px;
         &:hover {
             background: #2c3e50;
             color: white;
         }

        &:active {
            color: #e9e9e9;
            background: linear-gradient(to top, #555, #444);
        }

        &__disabled {
            color: #999999;
            pointer-events: none;
        }
    }

    &--separator {
        width: 100%;
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
}


.devicesSubHeader {

  background-color: #fff;;
  padding-top:10px;
  padding-bottom:62px;
  font-size: 16pt;
  font-family: 'Droid Sans', sans-serif;
  color: #666;
  margin: 0;
  z-index: 1000;
  overflow: hidden;

  position: relative;
  width: 100%;
  height: $page-header-size;
  animation-name: height-opacity-0-to-100;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  bottom:5px;

  .main-title{
    font-family: 'Raleway', sans-serif;
    padding-left:4em;
  }

  .header-info{
    .title
    {
      font-family: 'Open Sans', sans-serif;
      font-size: 10pt;
      color: $silver;
    }

    .subtitle
    {
      font-family: 'Droid Sans', sans-serif;
      font-size: 14pt;
      color: $dark-silver;
    }

  }

  .btn-flat{
    position: absolute;
    right: 120px;
  }
}

.deviceCanvas{
  padding-top: $page-header-size + 5px;
  top:-50px;
}

@media screen and (max-width: 600px){
  .title-area{
      .page-title{

      }
      .page-subtitle{
        display:none;
      }
  }

  .devicesSubHeader{
    .main-title{
      padding-left: 0em;
    }

    .btn-flat{
      position: relative;
      right: -20vw;
      width: 25%;
    }
 }
 .deviceCanvas{
   .lst-entry-body{
     .metric{
       &.last{
         .metric-label{
           left: 0px;
         }
       }
       .metric-label{
         position: relative;
         left: -5px;
       }

       }
     }
   }
 }
