.ta-center
{
    text-align: center;
}

.p16
{
  padding: 16px;
}

.btn-light
{
  color: black;
  background: none;
  border: 0px;
  box-shadow: none;
  padding-left: 0px;
}


.device-map
{

    margin-top: -10px;
    position: absolute;
    right: 0px !important;
    width: 75%;
    z-index: 10;
    padding: 0px !important;
}
.device-map-box
{
    height: 400px;
    display: inline-block;
    padding: 0px !important;

    .leaflet-container
    {
      width: 100%;
    }
}

.graph-box
{
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
  background: #EDEDED;
  height: 350px;

  .legend
  {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #4F4F4F;
  }
}

.card-box
{
  background: #FAFAFA;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
  height: 350px;
  padding: 0px;
  overflow: auto;

  .attr-line
  {
    height: 80px;
    background: #FAFAFA;
    width: 100%;
    display: inline-block;

    a{
      padding: 16px 37px;
      width: 100%;
      height: 100%;
      display: block;
    }
    a:hover{
      color:black;
      background: #EDEDED;
    }

    .attr-name{
      display: block;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.66px;
      text-transform: uppercase;
      color: #4F4F4F;
    }

    span{
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.39px;
      color: #BDBDBD;
    }

  }
}

.attribute-box
{
  padding-top: 100px;
  padding-left: 21px;

  .attribute-header{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ACACAC;
  }

  .box-list
  {
      height: 80px;
      width: 91%;
      margin-top: 21px;
      float: left;
      display: block;
      background: #F1F1F1;
      border-radius: 2px;
    }


  .hightlight
  {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.detail-box
{
  background: #FAFAFA;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
  margin-top: -10px;
  padding: 15px 0px 0px 0px !important;
  margin-right: 5px;
  z-index: 120;
  position: absolute;

  .detail-box-header {
      font-family: 'Open Sans', 'Roboto';
      font-size: 12px;
      letter-spacing: 0.42px;
      font-weight: 400;
      text-transform: uppercase;
      color: #2D9CDB;
      padding: 6px 22px;
      border-bottom: 2px solid #2D9CDB;
      text-align: right;
  }

  .detail-box-body
  {

  }

  .metric
  {
    text-transform: uppercase;
    padding: 7px;
    padding-left: 39px;

    span{
      display: block;
    }

    .label{
      font-family: 'Open Sans', 'Roboto';
      font-size: 12px;
      letter-spacing: 0.42px;
      color: #4F4F4F;
    }

    .value
    {
      font-family: 'Open Sans', 'Roboto';
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.39px;
    }
  }
}


.toggle-icon
{
  width: 17px;
  height: auto;
  display: inline-block;
  margin: 0 3px;
  float:left;

   i
   {
       font-size: 21px;
   }


  img
  {
    width: 100%;
    height: auto;
  }
}

.toggle-map
{
  width: 56px;
  float: left;
  display: inline-block;
}


.box-sh
{
  padding: 20px;
  width: auto;
  position: relative;
  height: 100%;
  display: inline-block;
  float: right;
}



.box-sh-item.active {
  border-bottom: 5px solid #425A8D;
  color: #425A8D;
}

.box-sh-item {
  padding: 16px 10px 10px 10px;
  width: auto;
  border-bottom: 5px solid #BDBDBD;
  color: #828282;
  height: 100%;
  display: inline-block;
  float: left;
  margin: 0 10px;

  .icon
  {
    width: 26px;
    display: inline-block;
    float: left;
    height: 100%;
    position: relative;
    padding-top: 3px;

    img {
      width: 100%;
    }
  }


  .text
  {
    display: inline-block;
    padding-left: 10px;
    float: left;
    text-transform: uppercase;
    margin: 7px;
  }
}

.rightSidebar{
  left: 100%;
}

.extra-padding
{
    padding: 20px 38px !important;
}

.device-painel
{
  position: absolute;
  z-index: 994;
  // z-index: 1010;
  background: rgba(255, 255, 255, 0.97);
  right: 0;
  display: inline-block;
  top: 0;
  width: 400px;
  height: auto;
}

.device-painel-body
{
    height: calc(100% - 35px);
}

.list-of-devices{
    float: left;
    height: 100%;
    width: 100%;
   position: relative;
   animation: fadein 200ms;
 }

.device-list{
  width: 100%;
  height: calc(100% - 45px);
  float: right;
  //border-left: 1px solid #BDBDBD;
  margin: 0;

  .main-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    padding: 16px 10px 10px 10px;
    color: #DADADA;
  }

  .info-header{
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    float: left;
    font-weight: bold;

    .title{
      font-family:"Roboto", sans-serif;
      color: #A2A2A2;
    }

    .subtitle{
      font-family:"Roboto", sans-serif;
      color: #A2A2A2;
    }

    .device-list-actions{
      position: relative;
      a{
        color: #A2A2A2;
      }
      .action-hide{
        font-family:"Roboto", sans-serif;
        color: #A2A2A2;
        font-size: 0.8em;
      }

      .action-show{
        font-family:"Roboto", sans-serif;
        color: #A2A2A2;
        font-size: 0.8em;
      }
    }
  }
  .deviceCanvas{
    width: 100% !important;
    // overflow-y: auto;
    height: 100%;
    overflow-y: scroll;
    // height: calc(100% - 106px);

    .row{
      margin:0;
      .lst-entry-title{
        padding: 4px 10px;
        height: 60px;
        position: relative;
        transition: linear 100ms;
        border-bottom: 1px solid #e2e2e2;

        .img
        {
          width: 58px;
          padding: 10px;

          img
          {
              width: 100%;
          }
        }
        .waves-effect{
          overflow: visible !important;
          width: 90%;
        }
        position: relative;
        transition: linear 100ms;
        &:hover{
          background-color: rgba(0, 0, 0, 0.15);
          transition: linear 100ms;
        }
        .user-label{
          text-transform: uppercase;
          padding-top: 6px;
          font-family: 'Open Sans', sans-serif;
          color: #161616;
          font-weight: normal;
        }
        .label{
          position: relative;
          font-family: 'Open Sans', sans-serif;
          color: #161616;
          font-weight: bold;

        }
        #device-view{
          position: relative;
          text-align: center;
          i{
            color: #000000;
          }
        }
      }


    }
  }
}

.device-footer{
  bottom: 0px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  background-color: #FAFAFA;
  height: 35px;
  text-align: center;
  vertical-align: middle;
    //border-left: #BDBDBD solid 1px;
    a{
      font-family: 'Open Sans', sans-serif;
      color: #DADADA;
      font-weight: bold;
      font-size: 0.8em;
    }
}

.device-filtering{
  height: 100%;
  width: 100%;
  padding: 0 40px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
  animation: fadein 200ms;
  .filter-header{
    padding: 30px 0 10px 0;
    .label{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      color: #DADADA;
    }
  }

  .protocol{
    height:90px;
  }

  .filter-devices-info{
    position: relative;
    text-transform: uppercase;
    .type{
      position: relative;
    }

    .label{
      color: #707070;
      font-weight: bold;
      font-size: 1.2em;
      margin: 0 0 10px 0;
    }

    .filter-btn{
      width: 85px;
      height: 25px;
      border: 2px solid #AAA6C9;
      box-sizing: border-box;
      border-radius: 15px;
      float: left;
      margin: 0 10px;
      font-weight: bold;
      cursor: pointer;
      transition: linear 200ms;
      .filter-label{
        text-align: center;
        line-height: 1.5;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        border: 2px solid #4D7BB9;
        .filter-label{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .protocols-virtual{
      position: relative;
      left: 15%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-virtual{
        padding: 3px 0 0 7px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
        position: relative;
        //left: -10%;
      }

      &.active{
        background-color: #4D7BB9;
        .label-virtual{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-col{
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-col{
        padding: 3px 0 0 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-col{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-trat{
      position: relative;
      left: 17%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-trat{
        padding: 3px 0 0 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-trat{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .types-cam{
      position: relative;
      left: 30%;
      width: 80px;
      height: 30px;
      border: 1px solid #BDBDBD;
      box-sizing: border-box;
      border-radius: 100%;

      .label-cam{
        padding: 3px 0 0 11px;
        color: #AAA6C9;
        font-family: 'Roboto', sans-serif;
      }

      &.active{
        background-color: #4D7BB9;
        .label-cam{
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

  }

  .filter-devices-search{
    position: relative;
    .label{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      color: #DADADA;
      padding: 15px 0 0 0;
    }

    .input-field:nth-child(1){
      position: relative;
      label{
        transform: translateY(-14px) scale(0.8);
      }
    }

    .input-field:nth-child(2){
      position: relative;
      margin: 30px 0 0 0;
      #value{
        position: relative;
      }
    }

    .btn-plus{
      width: 40px;
      height: 40px;
      position: relative;
      top: 50px;
      background-color: #EFEFEF;
      border-radius: 20px;
      padding: 10px 14px;
      i{
        color: #828282;
      }
    }
    .search-value{
      position: relative;
      width: 100%;
      height: 50px;
      background-color: #F1F1F1;
      display: inline;
      border-radius: 5px;
      float: left;
      padding: 16px;
      margin: 20px 0;
      .attribute{
        padding-left: 10px;
        display: inline;
        font-weight: bold;
      }

      .value{
        padding-left: 10px;
        display: inline;
      }
    }

    .actions-buttons{
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      margin: 30px 0;
      .button{
        padding: 0;
        #btn-clear{
          font-weight: bold;
          color: #4F4F4F;
          background-color: #ffffff;
          width: 100px;
          height: 40px;
          font-family: "Roboto", sans-serif;
          text-transform: capitalize;
          float: left;
        }
        #btn-search{
          background-color: #448EEF;
          width: 100px;
          height: 40px;
          float: right;
        }
      }
    }
  }
  .background-info{
    position: absolute;
    float: left;
    width: 100%;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: #FAFAFA;
    a{
      font-family: 'Open Sans', sans-serif;
      color: #DADADA;
      font-weight: bold;
      font-size: 0.8em;
    }
  }

}

.layer-div{
  width:55px;
  height:55px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 60px;
  z-index: 450;
  top:60px;

  img{
    width: 100%;
    height: 100%;
  }
}



.icon-marker {
  padding: 3px;
  margin: 0 auto;
  border: 1px solid $white;
  // box-shadow: 0 0 7px 6px lightgray;
  border-radius: 50%;
}

.bg-black{
  background: #2c3e50;
}

.bg-red{
  background: #F22613;
}

.bg-orange{
  background: #F89406;
}

.bg-light-blue{
  background: #6BB9F0;
}

.bg-blue{
  background: #19B5FE;
}

.bg-greyish-blue{
  background: #4B77BE;
}

.bg-dark-blue{
  background: #3A539B;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.cmenu
{
  i{
    position: absolute;
    left: 10px;
    font-size: 20px;
  }

  img{
    width: 19px;
    position: absolute;
    left: 10px;
    bottom: 11px;
  }
}

.contextMenu {
  z-index: 410;
  position: fixed;
  background: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);



  &--option {
    padding: 12px 70px 12px 40px;
    cursor: default;
    color:#2c3e50;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Ubuntu, sans-serif;
    font-size: 11px;
    &:hover {
      background: #2c3e50;
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: linear-gradient(to top, #555, #444);
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }

  &--separator {
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    margin: 0 0 0 0;
  }
}




.devicesSubHeader {
  background: #f1f1f1;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #666;
  margin: 0;
  z-index: 1050;
  position: relative;
  width: 100%;
  height: 65px;
  display: inline-block;
  // animation-name: height-opacity-0-to-100;
  // animation-duration: 1.5s;
  // animation-iteration-count: 1;


  .main-title{
    font-family: 'Raleway', sans-serif;
    padding-left:4em;
  }

  .header-info{
    .title
    {
      font-family: 'Open Sans', sans-serif;
      font-size: 10pt;
      color: $silver;
    }

    .subtitle
    {
      font-family: 'Droid Sans', sans-serif;
      font-size: 14pt;
      color: $dark-silver;
    }

  }
}

.deviceCanvas{
  padding: 0 !important;
}

@media screen and (max-width: 600px){
  .title-area{
    .page-title{

    }
    .page-subtitle{
      display:none;
    }
  }

  .devicesSubHeader {
    background: #f1f1f1;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.25);
    /* padding: 0; */
    /* padding-top: 10px; */
    /* padding-bottom: 62px; */
    font-family: 'Roboto', 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.52px;
    color: #666;
    margin: 0;
    z-index: 1050;
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    height: 65px;
    display: inline-block;
    animation-name: height-opacity-0-to-100;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

    .main-title{
      padding-left: 0;
    }

    .btn-flat{
      position: relative;
      right: -20vw;
      width: 25%;
    }
  }
  .deviceCanvas{
    .lst-entry-body{
      .metric{
        &.last{
          .metric-label{
            left: 0;
          }
        }
        .metric-label{
          position: relative;
          left: -5px;
        }

      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
